a:link { text-decoration-line: none; color: inherit}

a:visited { text-decoration-line: none; color: inherit }

a:hover { text-decoration-line: none; color: inherit }

a:active { text-decoration-line: none; color: inherit }

Button {
    font-size: medium;
}

.Navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #8D99AE;
    position: relative;
    height: 50px;
}

button.TitleButton {
    background: #8D99AE;
    border: none;
    font-size: xx-large;
    color: black;
    border-style: none;
    box-shadow: none;
}

.TitleLink {
    padding-left: 10px;
}

.LinkButton {
    color: black;
}

.SecondLink {
    margin-left: auto;
    margin-right: 4px;
}

.Link {
    margin-right: 4px;
}